{% extends 'layouts/layout.html.j2' %}

{% block body %}
    <div id="container">
        <div id="conatinerd">
            <h1><i class="fa fa-smile-o"></i></h1>
            <h2><i>Smile.. </i>You're on <b>Flask</b></h2>
            <h4>A7la Mesa</h4>
        </div>
    </div>
{% endblock %}